<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>SmartNinja basic Jinja template</title>

  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<h1>Try to guess the secret number between 1 and 100</h1>

{% if correct %}
  <p>{{ result }}</p>

{% else %}

  <form action="." method="post">
    <input type="text" name="user_guess" value="{{guess}}">
    <input type="submit" value="Check your answer">
  </form>

  <span>{{ result }}</span>

{% endif %}

</body>
</html>