/* GENERAL */
body {
    font-family: Arial, sans-serif;
    font-size: small;
    height: 100%;
    margin: 0;
}

.header {
    display: flex;
}

/* HEADER */
.header .content {
    margin-left: auto;
    padding: 20px 30px;
}

.header .content > div {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.squares-container {
    margin: -1px;
}

.squares-container .row {
    display: flex;
}

.square {
    width: 5px;
    height: 5px;
    margin: 1px;
    background-color: #000;
    opacity: 0.75;
}

/* MAIN CONTENT */
.main-content {
    position: relative;
}

.main-logo,
.main-search,
.main-buttons {
    position: absolute;
    width: 100%;
    display: flex;
}

.main-logo {
    top: 120px;
}

.main-search {
    top: 250px;
}

.main-buttons {
    margin-top: 20px;
    top: 300px;
}

.main-search input {
    line-height: 15px;
    font-size: larger;
    padding: 10px 20px;
    width: 500px;
}

/* FOOTER */
.footer {
    background: #f2f2f2;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .alt {
    opacity: 0.5;
}

.footer .row {
    border-top: 1px solid #e4e4e4;
    padding: 0 30px;
    margin-left: -15px;
    margin-right: -15px;
}

.footer span{
    margin-left: 15px;
    margin-right: 15px;
}

.footer .row:first-child {
    font-size: larger;
}

/* OTHER */
.pull-right {
    float: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

a.alt {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

a.alt:hover {
    text-decoration: underline;
}

.profile-picture {
    width: 32px;
    height: auto;
    border-radius: 50%;
}

.logo-img {
    width: 300px;
    height: auto;
}