<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Message list</title>
</head>
<body>

  <h1>List of all messages</h1>

  {# 5) Aquí iteramos los mensajes. Al principio solo mostrábamos el content de cada uno y luego añadimos la fecha y hora de creación #}
  {% for message_item in messages %}
  <p>

    {# 10) Añadimos un enlace cuyo href contiene el id del mensaje #}
    <a href="/message-details/{{ message_item.key.id() }}">
      {{ message_item.created_at }} - {{ message_item.content }}
    </a>
  </p>
  {% endfor %}
</body>
</html>